html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.container {
    max-width: 960px;
}

.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
    color: #999;
    transition: ease-in-out color .15s;
}

.site-header a:hover {
    color: #fff;
    text-decoration: none;
}

textarea {
    display: block;
}

textarea {
    width: 700px;
    border: none;
    border-radius: 20px;
    outline: none;
    padding: 10px;
    font-size: 1em;
    color: #ffffff;
    transition: border 0.5s;
    -webkit-transition: border 0.5s;
    -moz-transition: border 0.5s;
    -o-transition: border 0.5s;
    border: solid 3px #24e95f;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input:focus, textarea:focus {
    border: solid 2px #24e95f;
}

textarea {
    height: 150px;
    resize: none;
    overflow: auto;
}

textarea:focus {
    outline: none;
}

#title {
    font-size: 40px;
    margin: 10px 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    width: 30em;
    animation: type 4s steps(60, end);
}

@keyframes type {
    from {
        width: 0;
    }
}

#generate_btn {
    position: relative;
    bottom: 25px;
    right: 5px;
    font-size: 0.5em;
    opacity: 0.25;
    padding: 3px;
    background-color: #5a6268;
    border: solid 1px #ffffff;
    font-weight: bold;
}

#autoGenerate {
    flex: 1 1 auto;
    padding: 5px;
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
    transition: 0.5s;
    background-size: 200% auto;
    border: solid 1px #ffffff;
    color: white;
    border-radius: 10px;
 }

#autoGenerate:hover {
    background-position: right center; /* change the direction of the change here */
}

#autoGenerate {
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}

#made_by {
    position: relative;
    right: -80px;
}

.product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

.product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
}

.product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.flex-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
}

@media (min-width: 768px) {
    .flex-md-equal > * {
        -ms-flex: 1;
        -webkit-box-flex: 1;
        flex: 1;
    }
}

.overflow-hidden {
    overflow: hidden;
}